$primary-background: linear-gradient(90deg, #16295E, #002EFF, #16295E);
$board-background: linear-gradient(#002EFF, #16295E);
$output-background: linear-gradient(#2D57FF, #7AABFF, #3B528E);
$secondary-background: yellow;
$primary-box-shadow: 10px 10px;

body {
  background: url("http://www.sclance.com/backgrounds/saved-by-the-bell-background/saved-by-the-bell-background_1970597.jpg");
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

img {
  display: none;
  height: 500px;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
  position: absolute;
  top: 50%;
  width: 500px;
  z-index: 99;
}

// TOP OF PAGE

header {
  display: flex;
  justify-content: center;
}

title {
  text-align: center;
}

h1 {
  -webkit-text-fill-color: #cd31b5; 
  color: black;
  display: inline;
  font-family: 'Mr Dafoe', cursive; 
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 20px;
  position: relative;
  text-shadow: 2px 2px #000000;
  top: 20px;
}

div.current-round {
  align-items: center;
  background-color: #c9aae8;
  border-radius: 50%;
  box-shadow: $primary-box-shadow;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 150px;
  justify-content: center;
  padding: 3px;
  position: absolute;
  width: 150px;
}

.fast-money-timer {
  color: $secondary-background;
  font-size: 50px;
}

time {
  width: 100px;
}

// GAME PLAY

.game-display {
  background: #48abf7;
  border-radius: 50%;
  box-shadow: 20px 20px; 
  display: block;
  height: 650px;
  justify-content: center;
  margin: auto;
  width: 900px;
}

h3 {
  background: $secondary-background;
  box-shadow: $primary-box-shadow;
  color: black;
  height: 50px;
  margin: 40px auto 20px auto;
  padding: 10px;
  text-align: center;
  width: 600px;
}

.section--game-play {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-board {
  border-radius: 15px;
  display: grid;
  height: 250px;
  margin: 10px auto 0px;
  width: 550px;

  & .number {
    color: black;
    font-size: 28px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
  }
}

.card-face {
  backface-visibility: hidden;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  position: absolute;
  text-align: center;
}

.card-back-1, 
.card-back-2,
.card-back-3
{
  background: $secondary-background;
  color: black;
  position: absolute;
  transform: rotateX(180deg);
  width: 100%;
}

.answer-container-1,
.answer-container-2, 
.answer-container-3 {
  align-items: center;
  background: $secondary-background;
  box-shadow: $primary-box-shadow;
  display: flex;
  height: 80%;
  justify-content: center;
  position: relative;
  transform-origin: center center;
  transform-style: preserve-3d;
  transition: transform .6s;
  width: 100%; 
}

.is-flipped {
  box-shadow: 10px -10px;
  transform: rotateX(180deg);
}

.scene {
  height: 80px;
  perspective: 500px;
  width: 100%;
}

.answers-and-respondents {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding: 0px 10px;
  width: 100%;
}

.section--players {
  display: flex;
  justify-content: space-around;
}

div.player {
  font-size: 24px;
}

#player-answer {
  box-shadow: $primary-box-shadow;
}

.player {
  align-items: center;
  background: rgba(255,20,147, 0.6);
  box-shadow: $primary-box-shadow;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  min-width: 150px;
  
    & span {
      font-family: 'Mr Dafoe', cursive;
      font-size: 32px;
  }
}

#player-one,
#player-two {
  margin: 10px -20px;
  top: 50px; 
  width: auto;
}

#player-one {
  right: 150px;
}

#player-two {
  left: 150px;
}

#player-one-points, 
#player-two-points {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

// FORM & GUESS AREA

form {
  display: flex;
  justify-content: center;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
}

input[type=text] {
  border: silver 1px solid;
  height: 30px;
  margin-bottom: 15px;
  padding: 0px 5px;
  width: 200px;
}

#guess-button,
#end-game-button {
  background-color: #c9aae8;
  border: #c9aae8 1px solid;
  box-shadow: $primary-box-shadow;
  font-size: 14px;
  height: 30px;
  margin: 0px auto 15px;
  width: 100%;
}

// END GAME ANIMATION, START SCREEN & FAST MONEY INTRO

.restart-game {
  background-color: #0E70B7;
  border: #0E70B7 1px solid;
  color: white;
  font-size: 20px;
  height: 6%;
  margin-left: 45%;
  margin-top: 28%;
  position: absolute;
  width: 13%;
}

#my-canvas {
  height: 100vh;
}

h4 {
  color: $secondary-background;
  font-size: 60px;
  margin-top: 20%;
  position: absolute;
  text-align: center;
  text-shadow: 4px 4px black;
  width: 100%;
}

.end-game {
  display: none;
}

.start-screen {
  background-color: rgb(201, 170, 232);
  box-shadow: $primary-box-shadow;
  height: 370px;
  left: 410px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 620px;
}

.start-screen--player {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#start-game-button {
  background: none;
  border: 1px dashed black;
  font-family: "Mr Dafoe", cursive;
  font-size: 30px;
  height: 50px;
  margin: 5px auto 0 auto;
  text-shadow: white 2px 2px;
  width: 200px;
}

#fast-money-intro {
  background-color: #c9aae8;
  box-shadow: $primary-box-shadow;
  display: none;
  font-size: 22px;
  height: 370px;
  left: 410px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 150px;
  vertical-align: middle;
  width: 620px;

  & h2 {
    margin-top: 120px;
  }
}

.current-turn {
  background: hotpink;
  border: $secondary-background 5px solid;
  transform: scale(1.2) perspective(1px);
}