$primary-background: linear-gradient(90deg, #16295E, #002EFF, #16295E);
$board-background: linear-gradient(#002EFF, #16295E);
$output-background: linear-gradient(#2D57FF, #7AABFF, #3B528E);


body {
  background: url("http://www.sclance.com/backgrounds/saved-by-the-bell-background/saved-by-the-bell-background_1970597.jpg");
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

.current-round {
  color: #ffde4d;
  font-size: 18px;
  position: absolute;
}

header {
  display: flex;
  justify-content: center;
}

title {
  text-align: center;
}

.fast-money-timer {
  font-size: 50px;
  color: #ffde4d;
}

h1 {
  font-weight: 400;
  font-size: 80px;
  color: black;
  -webkit-text-fill-color: #cd31b5; 
  text-shadow: 2px 2px #000000;
  // padding: 20px;
  display: inline;
  margin-bottom: 20px;
  position: relative;
  top: 20px;
  // right: 28px;
  font-family: 'Mr Dafoe', cursive; 
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
  display: none;
  z-index: 99;
}

time {
  width: 100px;
}

.game-display {
  display: block;
  justify-content: center;
  height: 650px;
  width: 900px;
  margin: auto;
  border-radius: 50%;
  background: #94d1ff;
  box-shadow: 20px 20px; 
}

h3 {
  color: black;
  height: 50px;
  width: 600px;
  background: yellow;
  padding: 10px;
  text-align: center;
  margin: 40px auto 20px auto;
  box-shadow: 10px 10px;
}

.section--game-play {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-board {
  display: grid;
  margin: 10px auto 0px;
  border-radius: 15px;
  height: 260px;
  width: 550px;

  & .number {
    font-size: 28px;
    color: black;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
  }
}

.section--players {
  display: flex;
  justify-content: space-around;
}

fieldset {
  display: flex;
  flex-direction: column;
}

legend {
  display: hidden;
}

input[type=text] {
  height: 25px;
  width: 150px;
}


div.player {
  width: 200px;
  color: black;
  margin: 10px auto 10px auto;
}

.current-turn {
  border: yellow 5px solid;
  transform: scale(1.2) perspective(1px);
}

.card-face {
  display:flex;
  position: absolute;
  backface-visibility: hidden;
  text-align: center;
  color :white;
  margin: 0 auto 0 auto;
  justify-content:center;
}

.card-back-1, 
.card-back-2,
.card-back-3
{
  width: 100%;
  background: yellow;
  color: black;
  transform: rotateX(180deg);
  position: absolute;
}

.answer-container-1,
.answer-container-2, 
.answer-container-3 {
  width: 100%; 
  height: 80%;
  position: relative;
  transition: transform .6s;
  transform-style: preserve-3d;
  transform-origin: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: yellow;
  box-shadow: 10px 10px;
}

.is-flipped {
  transform: rotateX(180deg);
}

.scene {
  width: 100%;
  height: 80px;
  perspective: 500px;
}

#my-canvas {
  height: 100vh;
}

h4 {
  font-size: 46px;
  text-align: center;
  position: absolute;
  width: 100%;
  margin-top: 20%;
}

.restart-game {
  position: absolute;
  height: 5%;
  width: 10%;
  margin-left: 45%;
  margin-top: 28%;
  font-size: 16px;
  background-color: silver;
}

.end-game {
  display: none;
}

.start-screen {
  width: 620px;
  height: 370px;
  background-color: rgb(201, 170, 232);
  position: relative;
  top: -500px;
  box-shadow: 10px 10px;
  text-align: center;
  margin: auto;
}

.start-screen--player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#player-one-points, 
#player-two-points {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

#current-round {
  background: lightblue;
  height: 100px;
  width: 100px;
  position: absolute;
}

.answers-and-respondents {
  width: 100%;
  display: flex;
  font-size: 18px;
  padding: 0px 10px;
}

#start-game-button {
  width: 200px;
  height: 65px;
  text-shadow: white 2px 2px;
  font-family: "Mr Dafoe", cursive;
  border: 1px dashed black;
  background: none;
  font-size: 30px;
  margin: 20px auto 0 auto;
}

#player-one,
#player-two {
  height: 150px;
  min-width: 150px;
  width: auto;
  background: hotpink;
  box-shadow: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
    & span {
      font-family: 'Mr Dafoe', cursive;
      font-size: 30px;
  }
}

#player-one {
  // margin: 50px 150px 0 0;
  right: 150px;
  top: 50px;
}

#player-two {
  // margin: 50px 0 0 150px;
  top: 50px; 
  left: 150px;
}