$primary-background: linear-gradient(90deg, #16295E, #002EFF, #16295E);
$board-background: linear-gradient(#002EFF, #16295E);
$output-background: linear-gradient(#2D57FF, #7AABFF, #3B528E);


body {
  background: url("http://www.sclance.com/backgrounds/saved-by-the-bell-background/saved-by-the-bell-background_1970597.jpg");
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
  // max-height: 100vh;
}

div.current-round {
  color: black;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9aae8;
  height: 150px;
  width: 150px;
  box-shadow: 10px 10px black;
  position: absolute;
  flex-direction: column;
  padding: 3px;
}

header {
  display: flex;
  justify-content: center;
}

title {
  text-align: center;
}

.fast-money-timer {
  font-size: 50px;
  color: yellow;
}

h1 {
  font-weight: 400;
  font-size: 80px;
  color: black;
  -webkit-text-fill-color: #cd31b5; 
  text-shadow: 2px 2px #000000;
  display: inline;
  margin-bottom: 20px;
  position: relative;
  top: 20px;
  font-family: 'Mr Dafoe', cursive; 
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
  display: none;
  z-index: 99;
}

time {
  width: 100px;
}

.game-display {
  display: block;
  justify-content: center;
  height: 650px;
  width: 900px;
  margin: auto;
  border-radius: 50%;
  background: #48abf7;
  box-shadow: 20px 20px; 
}

h3 {
  color: black;
  height: 50px;
  width: 600px;
  background: yellow;
  padding: 10px;
  text-align: center;
  margin: 40px auto 20px auto;
  box-shadow: 10px 10px;
}

.section--game-play {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-board {
  display: grid;
  margin: 10px auto 0px;
  border-radius: 15px;
  height: 250px;
  width: 550px;

  & .number {
    font-size: 28px;
    color: black;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
  }
}

.section--players {
  display: flex;
  justify-content: space-around;
}

form {
  display: flex;
  justify-content: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
}

input[type=text] {
  height: 30px;
  width: 200px;
  margin-bottom: 15px;
  border: silver 1px solid;
  padding: 0px 5px;
}

#player-answer {
  box-shadow: 10px 10px;
}

div.player {
  width: 200px;
  color: black;
  margin: 10px auto 10px auto;
  font-size: 24px;
}

.card-face {
  display:flex;
  position: absolute;
  backface-visibility: hidden;
  text-align: center;
  color :white;
  margin: 0 auto 0 auto;
  justify-content:center;
}

.card-back-1, 
.card-back-2,
.card-back-3
{
  width: 100%;
  background: yellow;
  color: black;
  transform: rotateX(180deg);
  position: absolute;
}

.answer-container-1,
.answer-container-2, 
.answer-container-3 {
  width: 100%; 
  height: 80%;
  position: relative;
  transition: transform .6s;
  transform-style: preserve-3d;
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
  box-shadow: 10px 10px;
}

.is-flipped {
  transform: rotateX(180deg);
  box-shadow: 10px -10px;
}

.scene {
  width: 100%;
  height: 80px;
  perspective: 500px;
}

#my-canvas {
  height: 100vh;
}

h4 {
  font-size: 60px;
  text-align: center;
  position: absolute;
  width: 100%;
  margin-top: 20%;
  color: yellow;
  text-shadow: 4px 4px black;
}

.restart-game {
  position: absolute;
  height: 6%;
  width: 13%;
  margin-left: 45%;
  margin-top: 28%;
  font-size: 20px;
  background-color: #0E70B7;
  color: white;
  border: #0E70B7 1px solid;
}

.end-game {
  display: none;
}

.start-screen {
  width: 620px;
  height: 370px;
  background-color: rgb(201, 170, 232);
  position: absolute;
  top: 150px;
  left: 410px;
  box-shadow: 10px 10px;
  text-align: center;
  margin: auto;
}

.start-screen--player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#player-one-points, 
#player-two-points {
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

.answers-and-respondents {
  width: 100%;
  display: flex;
  font-size: 20px;
  padding: 0px 10px;
  justify-content: space-between;
}

#start-game-button {
  width: 200px;
  height: 50px;
  text-shadow: white 2px 2px;
  font-family: "Mr Dafoe", cursive;
  border: 1px dashed black;
  background: none;
  font-size: 30px;
  margin: 5px auto 0 auto;
}

.player {
  height: 150px;
  min-width: 150px;
  background: rgba(255,20,147, 0.6);
  box-shadow: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
    & span {
      font-family: 'Mr Dafoe', cursive;
      font-size: 32px;
  }
}

#player-one,
#player-two {
  margin: 10px -20px;
  width: auto;
  top: 50px; 
}

#player-one {
  right: 150px;
}

#player-two {
  left: 150px;
}

#guess-button,
#end-game-button {
  height: 30px;
  margin: 0px auto 15px;
  width: 100%;
  background-color: #c9aae8;
  border: #c9aae8 1px solid;
  font-size: 14px;
  box-shadow: 10px 10px;
}

#fast-money-intro {
  display: none;
  font-size: 22px;
  width: 620px;
  height: 370px;
  background-color: #c9aae8;
  position: absolute;
  top: 150px;
  left: 410px;
  box-shadow: 10px 10px;
  text-align: center;
  vertical-align: middle;
  margin: auto;

  & h2 {
    margin-top: 120px;
  }

}

.current-turn {
  border: yellow 5px solid;
  transform: scale(1.2) perspective(1px);
  background: hotpink;
}